*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --width: 0%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.8;
}

/* video background */
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 1;
  overflow: hidden;
}

.video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* countdown-box  */
.countdown-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  min-height: 25rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.form,
.countdown__container,
.complete__container {
  padding: 3rem 5rem;
}

/* form */
.form__box {
  margin-bottom: 2rem;
}

.form__input {
  width: 100%;
  padding: 1rem;
  border-radius: 10rem;
  border: none;
  outline: none;
}

/* list */
.countdown__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin-bottom: 2rem;
}

.countdown__list li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* complete */
.complete__info {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

/* text color animation with css */
#element {
  animation: title 4s infinite;
}

@keyframes title {
  0% {
    color: #46211a;
  }

  25% {
    color: #0c2d48;
  }

  50% {
    color: #2e4600;
  }

  75% {
    color: #ffbb00;
  }

  100% {
    color: #a2c523;
  }
}

/* common values */
h1 {
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn {
  width: 100%;
  background-color: #0067b1;
  border: none;
  outline: none;
  padding: 1rem 0;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
}

/* 420px */
@media only screen and (max-width: 26.25em) {
  .countdown-box {
    width: 95vw;
  }
}
